@use '../utils/helpers' as *;

.header {
  background: url(src/assets/img/header-bg.jpg) no-repeat top center scroll $color-light;
  background-size: cover;
}

.header__wrapper {
  padding: 356px 0 40px;
  background: url(src/assets/img/header-pic-mobile.png) no-repeat scroll -60px bottom rgba(0,0,0,0);
}

.header__pic {
  display: none;
  margin: 0 auto;
}

.header__container {
  @extend %d-flex-column;

  @media #{$breakpoint-up-lg} {
    @include pos(0);
    @include wh(100%);
  }
}

.header__top {
  @extend %d-flex-column;
  width: 100%;
  flex-grow: 1;
  gap: 32px 0;
}

.header__title {
  @include fs-lh(54px,50px);
  font-weight: 600;
  letter-spacing: -0.08em;
  color: $color-white;
  margin: 0 -4px;
}

.header__bottom {
  display: none;

  @media #{$breakpoint-up-lg} {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.header__bottom-feature {
  @include fs-lh(14px,18px);
  padding: 35px 16px;
  text-align: center;
  letter-spacing: -0.01em;
  color: $color-white;
}

.header__reviews {
  display: grid;
  grid-template-areas:
    "title title title"
    "row subtitle .";
  gap: 12px 16px;
}

.header__reviews-title {
  @include fs-lh(18px,22px);
  font-weight: 700;
  letter-spacing: -0.02em;
  color: $color-white;
  grid-area: title;
}

.header__reviews-row {
  @extend %d-flex-ai-center;
  grid-area: row;
}

.header__reviews-item {
  @extend %d-flex-column;
  @extend %d-flex-centered;
  @extend %ff-ext-medium;
  @include wh(32px);
  @include fw(32px);
  @include fs-lh(10px,11px);
  letter-spacing: -0.01em;
  color: $color-gray;
  margin: 0 0 0 -10px;

  &.header__reviews-item_type_counter {
    border-radius: 50%;
    border: 2px solid $color-white;
    background-color: $color-gray-light;
  }

  &:first-child {
    margin-left: 0;
  }
}

.header__reviews-img {
  border-radius: 50%;
  border: 2px solid $color-white;
}

.header__reviews-subtitle {
  @include fs-lh(13px,16px);
  font-weight: 600;
  letter-spacing: -0.01em;
  color: $color-white;
  grid-area: subtitle;
  max-width: 160px;
}
