@use 'sass:color';
@use '../utils/helpers' as *;

.accordion-item {
  &.is-active {
    .accordion-title {
      &:after {
        content: '-';
      }
    }

    .accordion-content {
      display: block;
      animation: show 0.5s;
    }
  }
}

.accordion-title {
  cursor: pointer;

  &:after {
    content: '+';
    font-size: 1.2em;
    margin: 0 0 0 12px;
    color: color.adjust($color-default, $lightness: 30%);
  }
}

.accordion-content {
  display: none;
  transition: all .3s ease;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
