@use 'sass:math';
@use '../utils/helpers' as *;

.directions {
  @extend %d-flex-column;
  counter-reset: item;
  gap: 24px 0;

  @media #{$breakpoint-up-sm} {
    gap: 16px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  @media #{$breakpoint-up-lg} {
    gap: 64px;
  }
}

.directions__item {
  @extend %d-flex-column;
  @include before;
  gap: 8px 0;
  padding: 70px 0 0;
  opacity: 0;
  transform: translate3d(-200px, 0, 0);

  &:before {
    @include pos(0);
    @include fs-lh(90px,100px);
    font-weight: 700;
    letter-spacing: -0.05em;
    background: linear-gradient(180deg, $color-white 20%, rgba(255, 255, 255, .1) 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    background-clip: text;
    text-fill-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    opacity: .4;
    content: "0"counter(item);
    counter-increment: item;
  }

  @for $i from 1 through 10 {
    &:nth-child(#{$i}) {
      transition: opacity 0.4s ease #{$i * 0.2}s, transform 0.8s ease #{$i * 0.2}s;
    }
  }
}

.is-visible {
  .directions__item {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.directions__title {
  @include fs-lh(16px,18px);
  font-weight: 700;
  letter-spacing: -0.01em;
  color: $color-white;

  @media #{$breakpoint-up-lg} {
    padding: 0 32px 0 0;
  }
}

.directions__desc {
  @include fs-lh(14px,16px);
  @include color-white(0.4);
  font-weight: 500;
  letter-spacing: 0.02em;
}
