@use '../utils/helpers' as *;

.embed {
  overflow: hidden;
  position: relative;

  &.embed_margin_bottom {
    margin-bottom: 24px;
  }

  &:before {
    content: '';
    display: block;
    padding: 55% 0 0;
  }
}

.embed__item {
  @include pos(0);
  @include wh(100%);
}
