@use '../utils/helpers' as *;

.feature-list {
  @extend %d-flex-column;
  gap: 24px 0;
  margin: 0 0 60px;

  @media #{$breakpoint-only-sm} {
    gap: 0 24px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  @media #{$breakpoint-up-md} {
    gap: 40px 0;
    margin-bottom: 0;
  }

  @media #{$breakpoint-up-lg} {
    max-width: 560px;
  }
}

.feature {
  opacity: 0;
  transform: translate3d(-200px, 0, 0);

  @for $i from 1 through 10 {
    &:nth-child(#{$i}) {
      transition: opacity 0.4s ease #{$i * 0.2}s, transform 0.8s ease #{$i * 0.2}s;
    }
  }
}

.is-visible {
  .feature {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.feature__title {
  @include fs-lh(24px,26px);
  font-weight: 600;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: $color-gray-dark;
  margin: 0 0 8px;

  @media #{$breakpoint-up-xl} {
    @include fs-lh(32px,35px);
    margin: 0 0 12px;
  }

  @media #{$breakpoint-up-sm} {
    cursor: default;
    pointer-events: none;
  }

  &:after {
    @media #{$breakpoint-up-sm} {
      content: '';
      display: none;
    }
  }
}

.feature__desc {
  @include fs-lh(15px,18px);
  color: $color-default;
  opacity: .8;

  @media #{$breakpoint-up-sm} {
    display: block;
  }
}
