@use '../utils/helpers' as *;

.feature-list {
  @extend %d-flex-column;
  gap: 24px 0;
  margin: 0 0 60px;

  @media #{$breakpoint-only-sm} {
    gap: 0 24px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  @media #{$breakpoint-up-md} {
    gap: 40px 0;
    margin-bottom: 0;
  }

  @media #{$breakpoint-up-lg} {
    max-width: 560px;
  }
}

.feature {
}

.feature__title {
  @include fs-lh(24px,26px);
  font-weight: 600;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: $color-gray-dark;
  margin: 0 0 8px;
}

.feature__desc {
  @include fs-lh(15px,18px);
  color: $color-default;
  opacity: .8;
}
