@use '../utils/helpers' as *;

.form__fieldset {
  @extend %d-flex-column;
  border: 0;
  gap: 8px 0;
  margin: 0 0 16px;
}

.form__item {
  overflow: hidden;
  position: relative;
}

.form__field {
  @include fs-lh(16px,22px);
  font-weight: 500;
  width: 100%;
  padding: 16px;
  color: rgba(255, 255, 255, .5);
  border-radius: 8px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, .1);

  & + .form__label {
    @include pos(0,0);
    @include fs-lh(16px,22px);
    font-weight: 500;
    right: 0;
    height: 100%;
    padding: 16px;
    pointer-events: none;
  }

  &:focus + .form__label {
    display: none;
  }
}

.form__label {
  @include fs-lh(14px,1);
  font-weight: 600;
  color: rgba(255, 255, 255, .5);
}

.form-toggler-row {
  margin: 0 0 40px;
}

.form-toggler {
  & + .form__label {
    @extend %d-flex-ai-center;
    gap: 0 8px;
    cursor: pointer;
  }

  &.form-toggler_type_checkbox {
    display: none;

    &:checked + .form__label {
      .form-toggler-icon {
        &:before {
          display: block;
        }

        &:after {
          display: block;
        }
      }
    }
  }
}

.form-toggler-icon {
  @include before;
  @include wh(24px);
  @include fw(24px);
  border-radius: 8px;
  border: 2px solid rgba(255, 255, 255, .5);

  &:before {
    @include wh(14px,2px);
    left: 6px;
    bottom: 4px;
    display: none;
    transform: rotate(-45deg);
    transform-origin: 0 0;
    background-color: rgba(255, 255, 255, .5);
  }

  &:after {
    @include wh(6px,2px);
    content: '';
    position: absolute;
    left: 4px;
    bottom: 9px;
    display: none;
    transform: rotate(45deg);
    transform-origin: 0 0;
    background-color: rgba(255, 255, 255, .5);
  }
}
