$ff-default: 'VelaSans';
$ff-extended: 'InterTight';

$color-default: #5B5B5B;
$color-white: #fff;
$color-light: #E3E2E1;
$color-gray: #787878;
$color-gray-light: #CCCDCE;
$color-gray-dark: #584F44;
$color-dark: #29231F;
$color-darker: #2A2318;
$color-darken: #0B0703;
$color-brown: #B87F4D;
$color-brown-dark: #52402D;
$color-brown-darker: #5A4D3E;
$color-brown-darken: #432100;
$color-graphite: #252628;
$color-success: #66815A;
