$ff-default: 'VelaSans';
$ff-extended: 'InterTight';

$color-default: #5B5B5B;
$color-white: #fff;
$color-light: #E3E2E1;
$color-gray: #787878;
$color-gray-light: #CCCDCE;
$color-dark: #29231F;
$color-darker: #2A2318;
$color-darken: #0B0703;
