<div class="embed">
  <iframe id="id-{{ video }}" class="embed__item" src="https://rutube.ru/play/embed/{{ video }}" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowfullscreen allow="clipboard-write; autoplay"></iframe>
</div>
